
body {background-color:yellow;}
h1   {color:red;background-color:black}
h2   {color:red;background-color:black}
h3   {color:red;background-color:black}
P    {color:green;}
ul    {color:green;font-size:30px}
ol    {color:green;font-size:30px}
